#Configuration de l'application
APP_NAME="TaskColllab"
APP_ENV=development
APP_URL=http://l2_gl_app.test/public

SESSION_LIFETIME=7200

DB_HOST=localhost
DB_PORT=3306
DB_NAME=taskcollab
DB_USER=root
DB_PASS=